includes:
    - phpstan-baseline.neon

parameters:
    level: 10
    paths:
        - src
        - config
        - routes
        - resources/views
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    viewDirectories:
        - resources/views
    configDirectories:
        - config
